@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-list-item-link {
        font-size: 12px;
        padding: 0 7px;
    }
}

@media screen and (max-width: 1024px) {
    .header__top-wrap {
        height: auto;
        text-align: center;
        padding: 20px 0;
    }

    .header__top-outer {
        display: inline-block;
    }

    .header-top__logo-outer {
        padding-bottom: 20px;
    }
    .nav-toggle-btn {
        display: flex;
    }

    .nav-toggle-btn-outer {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        height: auto;
    }

    .nav-items-wrapper {
        display: none;
        height: auto;
    }

    .mobile-menu-visible {
	    overflow: hidden;
	}

	.fixed-header .nav-items-wrapper {
	    height: calc(100vh - 68px);
	    overflow-y: auto;
	}

	.nav-items-wrapper {
	    height: calc(100vh - 240px);
	    overflow-y: auto;
	}

    .dt-menu-expand {
        display: flex;
    }

    .nav-list-item-link:before {
        display: none;
    }

    .nav-list-item {
        width: 100%;
        display: block;
        padding: 3px 16px 20px;
        height: auto;
    }

    .nav-list-item.item-has-submenu:hover .submenu-list {
        visibility: inherit;
        opacity: inherit;
        transition: unset;
    }

    .submenu-list-item.item-has-sub-submenu .dt-menu-expand {
        color: #000;
    }

    .nav-list-item-link {
        height: auto;
        padding-bottom: 15px;
    }
    .header-bottom__social-outer {
        border-top: 1px solid #fff;
        padding: 20px 0;
        height: auto;
    }

    .header__social-list {
        justify-content: center;
        height: auto;
    }
    .header__social-list-item {
	    height: auto;
	    display: block;
	}
	.header__social-list-item-link {
	    height: auto;
	    display: block;
	}
    .fixed-header .nav-toggle-btn-outer {
        background: var(--primary);
    }

    .fixed-header .header__bottom-wrap .container {
        width: 100%;
        max-width: 100%;
        padding: 0 0px;
    }

    .fixed-header .header-bottom__social-outer {
        display: none;
    }

    .submenu-list {
        position: unset;
        visibility: visible;
        opacity: 1;
        width: 100%;
        display: none;
    }

    .submenu-list-item.item-has-sub-submenu:before {
        display: none;
    }

    .submenu-list-item.item-has-sub-submenu .submenu-list.sub {
        visibility: visible;
        opacity: 1;
        margin-top: 14px;
        transition: unset!important;
    }
    
	.nav-list-item.item-has-megamenu .megamenu-list {
        position: unset;
        visibility: visible;
        opacity: 1;
        width: 100%;
        transform: unset;
        display: none;
        padding: 0;
        border: 1px solid #9f9f9f;
    }

    .nav-list-item.item-has-megamenu:hover .megamenu-list{
    	visibility: inherit;
	    opacity: inherit;
	    transition: unset;
    }

    .megamenu-list-item {
        width: 100%;
    }

    .megamenu-list-item {
        position: relative;
    }

    .megamenu-list-item .dt-menu-expand {
        color: #fff;
        z-index: 1;
    }

    .megamenu-list-item-tile:after {
        display: none;
    }

    .megamenu-list-item-tile {
        margin-bottom: 0;
        text-align: start;
        padding-left: 10px !important;
    }

    .megamenu-submenu-list {
	    display: none;
	}

	.testimonial__items-wrapper {
	    display: block;
	}

	.testimonial__left-outer {
	    width: 100%;
	    padding: 50px 0;
	}

	.testimonial__right-outer {
		width: 100%;
		padding: 60px 40px;
	}
	.faq__tab-outer .nav-tabs .nav-item .nav-link {
	    font-size: 18px;
	    padding: 10px 20px;
	}
}

@media screen and ( max-width: 991px ){
	.business-tab__info-wrap {
	    padding-right: 0;
	    border-right: none;
	    margin-bottom: 30px;
	}

	.business-tab__info-list-wrap {
	    padding-left: 0;
	}
	.revers .business-tab__info-list-wrap {
	    margin-bottom: 20px;
	}
	.revers .business-tab__info-wrap {
	    border-left: none;
	    padding-left: 0;
	    margin-bottom: 0;
	}
	.revers .business-tab__info-img-outer {
	    margin-left: 0;
	    margin-bottom: 0;
	    margin-top: 30px;
	}
	.choose__section-title-outer {
	    margin-bottom: 40px;
	}
	.news__recent-items-wrapper {
	    margin-top: 30px;
	}

	.faq__item-wrap {
	    display: block;
	}

	.faq__item-image-outer {
	    margin-right: 0;
	    margin-bottom: 20px;
	}

	.faq__item-image {
	    width: 100%;
	}
	.faq__item-wrap.revers .faq__item-image-outer {
	    margin-left: 0;
	    margin-top: 20px;
	}
	.faq__tab-outer .nav-tabs .nav-item .nav-link {
	    font-size: 16px;
	    padding: 8px 18px;
	}
}

@media screen and ( max-width: 767px ){
	.business-tab-wrapper .nav-pills .nav-item {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.business-tab-wrapper .nav-pills {
	    flex-direction: column;
	    align-items: center;
	}
	.business-tab-wrapper .nav-pills .nav-item:last-child {
	    margin-bottom: 0;
	}
	.business-tab__info-wrap {
	    display: block;
	    margin-bottom: 40px;
	}
	.business-tab__info-list-wrap .section__title {
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.business-tab__info-img-outer {
	    padding-right: 0;
	    margin-bottom: 30px;
	}
	.business-tab__info-outer .section__title {
	    margin-bottom: 10px;
	}
	.contact-form__wrapper {
	    position: unset;
	}
	.follow-us__items-wrapper {
	    padding-top: 30px;
	}
	.faq__tab-outer .nav-tabs {
	    text-align: center;
	    flex-direction: column;
	    align-items: center;
	    border-top: none;
	}
	.faq__tab-outer .nav-tabs .nav-item {
	    margin-bottom: 10px;
	}
	.faq__tab-outer .nav-tabs .nav-item .nav-link.active:before {
	    content: '';
	    position: absolute;
	    height: 1px;
	    width: 100%;
	    background: #dee2e6;
	    left: -100%;
	    top: 0;
	}

	.faq__tab-outer .nav-tabs .nav-item .nav-link.active:after {
	    content: '';
	    position: absolute;
	    height: 1px;
	    width: 100%;
	    background: #dee2e6;
	    right: -100%;
	    top: 0;
	}
	.banner__content-title {
	    font-size: 30px;
	    margin-bottom: 5px;
	}

	.banner__content-text {
	    font-size: 14px;
	}

	.contact-info__title {
	    font-size: 25px;
	}

	.contact-info__office-location {
	    font-size: 20px;
	}

	.contact-info__outer .contact-info__title {
	    font-size: 14px;
	}

	.contact-info__text {
	    font-size: 12px;
	}

	.contact-form__top-title {
	    font-size: 30px;
	    margin-bottom: 5px;
	}

	.contact-form__top-text {
	    font-size: 12px;
	}

	.follow-us__item-title {
	    font-size: 20px;
	}

	.testimonial__left-info-title {
	    font-size: 30px;
	}

	.testimonial__left-info {
	    font-size: 20px;
	}

	.tes__slider-item-info-auth-name {
	    font-size: 16px;
	}

	.faq__title {
	    font-size: 25px;
	}

	.faq__text {
	    font-size: 14px;
	}

	.question__title {
	    font-size: 25px;
	}

	.question__text {
	    font-size: 14px;
	}

	.contact-form__top-wrap canvas {
	    height: 300px;
	}

	.contact-form__top-outer {
	    top: 50%;
	}
	.preloader span {
	    font-size: 100px;
	}
}

@media screen and ( max-width: 576px ){
	.header-top__info-outer {
	    display: block;
	}

	.header-top__inner {
	    margin-right: 0;
	    margin-bottom: 20px;
	}

	.header-top__inner:last-child {
	    margin-bottom: 0;
	}

	.header-top__info-text {
	    font-size: 12px;
	}

	.header-top__info-text-outer {
	    text-align: start;
	}

	.consulting__item-wrap {
	    display: block;
	}

	.consulting__item-icon-outer {
	    margin-bottom: 10px;
	}
	.footer__bottom-item-outer {
	    display: block;
	    text-align: center;
	}

	.footer__bottom-social-list {
	    justify-content: center;
	}

	.footer__bottom-copyright-text {
	    margin-bottom: 10px;
	}

	.footer__bottom-social-list-item {
	    margin-right: 15px;
	}

	.section__title {
	    font-size: 35px;
	}

	.consulting-section .section__text {
	    font-size: 16px;
	}
	.business-tab__info-img-inner {
	    width: 100%;
	}

	.intro__item-wrapper {
	    display: block;
	}

	.intro__item-image-outer {
	    margin-right: 0;
	    margin-bottom: 20px;
	}

	.intro__item-wrapper.revers .intro__item-image-outer {
	    margin-bottom: 0;
	    margin-left: 0;
	    text-align: end;
	    margin-top: 20px;
	}
	.question__info-wrap {
	    display: inline-block;
	    border: 2px solid #274584;
	    border-radius: 60px;
	}

	.question-section {
	    text-align: center;
	}

	.question__info-outer.left .question__info-text {
	    border: none;
	    border-radius: 50px 50px 0px 0px;
	}

	.question__info-outer.right .question__info-text {
	    border: none;
	    border-radius: 0px 0px 50px 50px;
	    width: 100%;
	}

	.question__info-text {
	    padding: 15px 30px 20px;
	}

	.question__info-wrap:before {
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	}

	.home-bottom-info__title {
	    font-size: 35px;
	    margin-bottom: 25px;
	}
	.preloader span {
	    font-size: 70px;
	}
}

@media screen and ( max-width: 400px ){
	.section__title {
	    font-size: 30px;
	}

	.business-tab-wrapper .section__text {
	    font-size: 14px;
	}

	.goal__section-title {
	    font-size: 30px;
	}

	.goal__section-text {
	    font-size: 14px;
	}

	.goal-sec-list-item {
	    font-size: 14px;
	}

	.choose__section-title {
	    font-size: 25px;
	}

	.choose__section-text {
	    font-size: 14px;
	}

	.choose-sec-list-item {
	    font-size: 14px;
	}
	.review__item-text-outer blockquote {
	    padding: 20px;
	}

	.review__item-text-outer blockquote:after {
	    display: none;
	}
	.preloader span {
	    font-size: 50px;
	}
	.faq__tab-outer .nav-tabs .nav-item .nav-link.active:before {
	    width: 40px;
	    left: -40px;
	}
	.faq__tab-outer .nav-tabs .nav-item .nav-link.active:after {
	    width: 40px;
	    right: -40px;
	}
}