:root{
    --primary: #274584;
    --secondary: #4d4d4d;
    --menu-hover: #7699e3;
    --btn-bg: #0165bb;
}

* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: 900;
    color: var(--primary);
}
/*common css End*/

/* Common btn css start */
.common-btn-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    padding: 12px 30px 10px;
    color: var(--primary);
    border: 3px solid var(--primary);
    position: relative;
    font-weight: 500;
}

.common-btn-link:before {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-style: solid;
    left: -10px;
    bottom: -10px;
    border-top: none;
    border-right: none;
    transition: all .5s ease;
    color: var(--primary);
}

.common-btn-link:after {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-style: solid;
    right: -10px;
    top: -10px;
    border-bottom: none;
    border-left: none;
    transition: all .5s ease;
    color: var(--primary);
}

.common-btn-link:hover::before {
    width: 100%;
    height: 0;
    left: 0;
}

.common-btn-link:hover::after {
    width: 100%;
    height: 0;
    right: 0;
}

.common-btn-link i {
    margin-left: 5px;
    font-size: 14px;
}

.common-btn-link:hover {
    background: var(--primary );
    color: #fff;
}
/* Common btn css End */

/* Common section css start */
.section__title-outer {
    
}
.section__title {
    font-size: 40px;
    font-weight: 100;
    color: #4d4d4d;
    margin-bottom: 10px;
    font-family: 'Raleway';
    letter-spacing: 0.75px;
}
.section__text {
    
}
/* Common section css Endq */

/*Header section css start*/
.header__top-wrap {
    height: 70px;
    display: flex;
    align-items: center;
}

.header__top-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__logo-outer {
    display: inline-block;
}

.header-top__logo-inner {
    max-width: 300px;
}

.header-top__info-outer {
    display: flex;
    align-items: center;
}

.header-top__inner {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.header-top__inner:last-child {
    margin-right: 0;
}

.header-top__info-icon {
    margin-right: 10px;
}

.header-top__info-icon span {
    font-size: 40px;
    color: var(--primary);
}

.header-top__info-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
}

.header-top__info-text.link {
    color: #304d89;
}

.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header__bottom-wrap {
    background: var(--primary);
}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.dt-menu-expand {
    display: none;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-item-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.nav-list-item-link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    height: 15px;
    width: 1px;
    margin: auto;
}

.nav-list-item:last-child .nav-list-item-link::before {
    display: none;
}

.nav-list-item-link:hover {
    color: #3475dd;
}

.nav-list-item.item-has-submenu {
    position: relative;
}

.sumenu-list {
    position: absolute;
    top: 90px;
    left: 0;
    width: 250px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.sumenu-list-item {
    padding: 0 10px;
    display: block;
}

.sumenu-list-item-link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
    padding: 13px 6px 13px 0px;
    display: block;
}

.sumenu-list-item-link:hover {
    color: var(--menu-hover);
}

.sumenu-list-item-link:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: var(--primary);
}

.sumenu-list-item-link:after {
    content: "";
    display: inline-block;
    height: 5px;
    pointer-events: none;
    position: absolute;
    left: 3px;
    bottom: -2px;
    width: 5px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 0 0px 8px #fff;
    -moz-box-shadow: 0 0 0px 8px #fff;
    -ms-box-shadow: 0 0 0px 8px #fff;
    -webkit-box-shadow: 0 0 0px 8px #fff;
}

.nav-list-item.item-has-submenu:hover .sumenu-list {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.sumenu-list-item:last-child .sumenu-list-item-link::before {
    display: none;
}

.sumenu-list-item:last-child .sumenu-list-item-link::after {
    display: none;
}

.sumenu-list-item.item-has-sub-submenu {
    position: relative;
}

.sumenu-list-item.item-has-sub-submenu:before {
    position: absolute;
    display: block;
    content: "\f30b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    right: 25px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    bottom: -12px;
}

.sumenu-list-item.item-has-sub-submenu .sumenu-list.sub {
    left: 90%;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.sumenu-list-item.item-has-sub-submenu:hover .sumenu-list.sub {
    left: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.nav-list-item.item-has-megamenu {
    position: relative;
}

.megamenu-list {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    display: flex;
    width: 1000px;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.megamenu-list-item {width: 25%;}

.megamenu-list-item-tile {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    padding: 12px 0 10px !important;
    z-index: 1;
    background: var(--primary);
    position: relative;
    color: #fff;
}

.megamenu-list-item:nth-child(odd) .megamenu-list-item-tile,.megamenu-list-item:nth-child(odd) .megamenu-list-item-tile::after {
    background: var(--primary);
}

.megamenu-list-item:nth-child(even) .megamenu-list-item-tile,.megamenu-list-item:nth-child(even) .megamenu-list-item-tile::after {
    background: var(--menu-hover);
}

.megamenu-submenu-list {
    padding-left: 0;
}

.megamenu-list-item-tile:after {
    content: "";
    display: block;
    position: absolute;
    /* margin: 0 auto; */
    bottom: -10px;
    width: 0;
    height: 0;
    border-top-width: 10px;
    border-top-style: solid;
    background: var(--primary);
    left: 0;
    right: auto;
    border-right: 20px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(180deg);
}

.megamenu-submenu-list-item {
    padding: 0 10px;
    display: block;
}

.megamenu-submenu-list-item-link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
    padding: 13px 6px 13px 0px;
    display: block;
}

.megamenu-submenu-list-item-link:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: var(--primary);
}

.megamenu-submenu-list-item-link:after {
    content: "";
    display: inline-block;
    height: 5px;
    pointer-events: none;
    position: absolute;
    left: 3px;
    bottom: -2px;
    width: 5px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 0 0px 8px #fff;
    -moz-box-shadow: 0 0 0px 8px #fff;
    -ms-box-shadow: 0 0 0px 8px #fff;
    -webkit-box-shadow: 0 0 0px 8px #fff;
}

.megamenu-submenu-list-item-link:hover {
    color: var(--menu-hover);
}

.megamenu-submenu-list-item:last-child .megamenu-submenu-list-item-link:before,
.megamenu-submenu-list-item:last-child .megamenu-submenu-list-item-link:after {
    display: none;
}

.nav-list-item.item-has-megamenu:hover .megamenu-list {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

.header-bottom__social-outer {
    height: 100%;
}

.header__social-list-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__social-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;
}
.header__social-list-item-link {
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__social-list-item-link:hover {
    color: var(--menu-hover);
}
/*Header section css End*/

/* Home info section css start */
.home-bottom-info-section {
    padding: 80px 0;
    background: #e3f6f9;
}

.home-bottom-info__outer {
    text-align: center;
}

.home-bottom-info__title {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 40px;
    color: #4d4d4d;
    font-family: 'Raleway';
    letter-spacing: 0.75px;
}

.home-bottom-info__text {
    margin-bottom: 0;
    font-size: 15px;
    color: #4e95d9;
    letter-spacing: 0.75px;
    line-height: 24px;
}
/* Home info section css End */

/* Intro section css Start */
.intro-section {
    padding: 70px 0;
}

.intro__item-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    width: 92%;
}

.intro__item-wrapper.revers {
    justify-content: end;
}

.intro__item-image-outer {
    background: none;
    margin-right: 20px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 50%;
}

.intro__item-image-inner {
    border-radius: 50%;
    max-width: 170px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.intro__item-info-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 25px;
    position: relative;
    text-transform: none;
    color: #4d4d4d;
}

.intro__item-info-title:before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #c3cfd8;
    transition: all .3s ease;
}

.intro__item-info-text {
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 28px;
    margin-bottom: 0;
}

.intro__item-wrapper.revers .intro__item-info-outer {
    text-align: end;
}

.intro__item-wrapper.revers .intro__item-info-title:before,
.intro__item-wrapper.revers .intro__item-info-title:after {
    right: 0!important;
    left: inherit;
}

.intro__item-wrapper.revers .intro__item-image-outer {
    margin-right: 0;
    margin-left: 20px;
}

.intro__item-info-title:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    background: var(--primary);
    transition: all .3s ease;
}

.intro__item-wrapper:hover .intro__item-info-title::before {
    width: 0;
}

.intro__item-wrapper:hover .intro__item-info-title::after {
    width: 50px;
}

.intro__item-wrapper:hover .intro__item-image-outer {
    background: var(--primary);
    width: 170px;
}

.intro__item-wrapper:hover .intro__item-image-inner {
    -webkit-box-shadow: 0px 0px 0px 20px #fff;
    -webkit-transform: scale(0.7);
    box-shadow: 0px 0px 0px 20px #fff;
    transform: scale(0.7);
}
/* Intro section css End */

/* Tab Section css start */
.business-tab-wrapper {
    background-image: url(../images/tab-bg.jpg);
    background-position: 50% -43px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.business-tab-wrapper:before {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(39,69,132,0.8);
    z-index: -1;
}

.business-tab-wrapper .section__title-outer {
    margin-bottom: 80px;
    text-align: center;
}

.business-tab-wrapper .section__title .bold {
    color: #fff;
}

.business-tab-wrapper .section__text {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Poppins';
    display: inline-block;
}

.business-tab-wrapper .section__text:before,.business-tab-wrapper .section__text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background: #fff;
}

.business-tab-wrapper .section__text:before {left: -15px;}

.business-tab-wrapper .section__text:after {
    right: -15px;
}

.business-tab-wrapper .nav-pills {
    justify-content: center;
    padding-top: 33px;
}

.business-tab-wrapper .nav-pills .nav-item {
    margin-right: 10px;
}

.business-tab-wrapper .nav-pills .nav-item .nav-link {
    background: #e3f6f9;
    border-radius: unset;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: 500;
    font-family: 'Poppins';
    color: var(--primary);
}

.business-tab-wrapper .nav-pills .nav-item:last-child {
    margin-right: 0;
}

.business-tab-wrapper .nav-pills .nav-item .nav-link.active {
    background: #fff;
}

.business-tab__info-wrap {
    display: flex;
    border-right: 1px solid #e5e5e5;
    padding-right: 40px;
}

.business-tab__info-img-outer {
    padding-right: 30px;
}

.business-tab__info-img-inner {
    width: 300px;
}

.business-tab-section .tab-content {
    padding: 60px 0;
}

.business-tab__info-outer .section__title {
    margin-bottom: 20px;
}

.business-tab__info-outer .section__text {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #4d4d4d;
    line-height: 28px;
}

.business-tab__info-wrap {
}

.business-tab__info-list-wrap {
    padding-left: 20px;
}

.business-tab__info-list-wrap .section__title {
    margin-bottom: 20px;
}

.business-tab__info-list {
    padding-left: 0;
    margin-bottom: 0;
}

.business-tab__info-list-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    transition: all .3s ease;
}

.business-tab__info-list-item:hover {
    background: var(--primary);
    color: #fff;
}
/* Tab Section css End */

/* Success story section css start */
.success-story-section {
    padding: 100px 0;
    background-image: url(../images/bg.jpg);
    position: relative;
    z-index: 1;
}

.success-story-section:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
    background: #e3f6f9;
}

.success-story-section .section__title-outer {
    text-align: center;
    margin-bottom: 50px;
}

.success__bottom-content-outer {
    margin-top: 70px;
    text-align: center;
}

.success__item-wrap {
    text-align: center;
}

.success__item-icon-outer {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
}

.success__item-info-number {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Raleway';
    color: var(--primary);
    letter-spacing: 0.5px;
}

.success__item-icon-outer span:after {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--primary);
    border-width: 3px;
    content:
    "";
    display: inline-block;
    float: none;
    height: 50px;
    left: 0;
    margin: 25px auto;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.success__item-icon-outer span {
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 23px;
    width: 100px;
    color: var(--primary);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.success__item-wrap:hover .success__item-icon-outer span::after {
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    opacity: 1;
    transform: scale(2.5);
}

.success__item-wrap:hover .success__item-icon-outer span {
    color: #fff;
    font-size: 44px;
    background: var(--primary);
}

.success__item-info-text {
    font-size: 22px;
    font-weight: 300;
    margin: 30px 0px 0px;
    position: relative;
}

.success__item-info-text:before {
    background: var(--primary);
    content:
    "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -15px;
    width: 30px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.success__item-info-text:after {
    background: var(--primary);
    content:
    "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -15px;
    width: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.success__item-wrap:hover .success__item-info-text:before {
    width: 0;
}

.success__item-wrap:hover .success__item-info-text:after {
    width: 50px;
}

.success__bottom-content {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #4d4d4d;
    margin-top: 35px;
    margin-bottom: 0;
}
/* Success story section css End */